<h1 class="page-title">Search Patients</h1>

<p>This view allows you to search patients.</p>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="input-group" style="width:570px">
      <input data-ng-model="q" type="text" value="" class="form-control tt-input"
             id="q" name="q" 
             onkeydown="filterSearchInput(event,this)"
             placeholder="Search for patients" />
      <span class="input-group-btn" style="vertical-align:bottom;">
        <button class="btn btn-primary" type="button" data-ng-click="search()">
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
</div>

<div class="search-results" data-ng-if="patients.length>0">
  <patient-grid patients="patients" 
    editor="showPatientEditor" 
    remover="showPatientRemover"
    uploader="gotoUploadView"></patient-grid>
</div>
