/*
 * @(#)hoptions.css
 */

/*
 * Author: Jianmin Liu
 * Created: 2015/05/26
 */

.hoptions {
  margin: 0; 
  padding: 0;
}

.hoptions li {
  display: inline-block; 
  zoom: 1; 
  *display: inline; 
  background: #eee; 
  border: solid 1px #999; 
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0; 
  -webkit-border-radius: 4px 4px 0 0;
  padding: 0 10px;
}

.hoptions li a {
  font-size: 14px; 
  line-height: 2em; 
  display: block; 
  padding: 0 10px; 
  outline: none;
}

.hoptions li a:hover {
  text-decoration: underline;
}

.hoptions li.current { 
  background: #fff; 
  /*padding-top: 6px;*/
  position: relative; 
  top: 1px; /* 1px to push the bottom line */
  border-color: #666;
}

.hoptions li a.current {
  font-weight: bold;
}

.hcontainer .hpanel {
  background: #fff; 
  border: solid #666 1px; 
  padding: 10px; 
  border-radius: 4px; 
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px;
}

.hpanel .hcontent {
  display: none;
}

.hpanel .show {
  display: block;
}

.hoptions li .title {
  display: inline-block;
  min-height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
}

.hoptions li.current .title {
  font-weight: bold;
}

/* end of hoptions.css */
